html
  head
    title= "Lập trình ứng dụng Web"
    meta(name='viewport' content="width=device-width, initial-scale=1.0")
    meta(charset='UTF-8')
    link(href='/static/bootstrap/css/bootstrap.min.css' rel='stylesheet')
    link(href='/static/css/mystyle.css' rel='stylesheet')
    block scripts
        script(src='/static/js/jquery.min.js')
        script(src='/static/js/frontendapp.js')
        script(src='/static/bootstrap/js/bootstrap.bundle.min.js')
  body
    block content